@import '../../../styles/variables.scss';

.filterBarWrapper {
    min-width: max-content;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .filterBarWrap {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        ul {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;

            li {
                list-style: none;
                cursor: pointer;
                margin: 7px;
                padding: 10px;
                border-radius: 20px;
                background-color: $bones1;
                font-size: 17px;
                color: rgb(65, 65, 65);
                transition: 0.5s;
                

                &:hover {
                    background-color: $logo2;
                    color: antiquewhite;
                }

                &.active {
                    background-color: $logo;
                    color: antiquewhite;
                    transform: scale(1.11);
                    
                    
                    // .listTitle {
                    //     transform: scale(0.87);
                       
                        
                    // }
                    
                }
            }
        }
    }
}