@import '../../../styles/variables.scss';

.filterBarWrapper {
    min-width: max-content;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .filterBarWrap {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        ul {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;

            li {
                // min-width: max-content;
                list-style: none;
                cursor: pointer;
                margin: 7px;
                padding: 10px;
                border-radius: 20px;
                background-color: $bones1;
                transition: 0.4s;

                &.active {
                    background-color: rgb(67, 67, 67);
                    color: antiquewhite;
                    transform: scale(1.12);

                    // transform: translateY(-4px);

                    &:hover {
                        transform: scale(1.12);
                        //transform: translateY(-4px);
                        
                    }
                }

                &:hover {
                    // transform: scale(1.1);
                    box-shadow: inset 0px 0px 2px rgb(67, 67, 67);
                    transform: scale(1.05);
                    // transform: translateY(-1px);
                }
            }
        }
    }
}