@keyframes jumpAnim {

    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-1px);
    }

    100% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(-1px);
    }

    100% {
        transform: translateY(0px);
    }
}

.item {
    position: relative;
    }
    
    .item-enter {
      opacity: 0;
      transform: scale(0.5);
    }
    
    .item-enter-active {
      opacity: 1;
      transform: scale(1);
      transition: opacity 400ms, transform 400ms;
    }
    
    .item-exit {
      opacity: 0;
      transform: scale(0);
      transition: opacity 400ms, transform 400ms;
     }
    
    .item-exit-active {
      opacity: 0;
      transform: scale(0.5);
    
      transition: opacity 400ms, transform 400ms;
     
    }
    

    .page {


    }
    
    .page-enter {
      opacity: 0.2;
      transform: translateX(150%);
    }
    
    .page-enter-active {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 600ms, transform 600ms;
    }
    
    .page-exit {
      opacity: 1;
      transform: translateX(0);
    }
    
    .page-exit-active {
      position: absolute;
      opacity: 0;
      transform: translateX(-150%);
      transition: opacity 300ms, transform 600ms;
    }

    .itemModal {


    }
    
    .itemModal-enter {
      opacity: 0.2;
      transform: translateX(-150%);
    }
    
    .itemModal-enter-active {
      opacity: 1;
      transform: translateX(0);
      transition: opacity 300ms, transform 300ms;
    }
    
    .itemModal-exit {
      opacity: 1;
      transform: translateX(0);
    }
    
    .itemModal-exit-active {
      position: absolute;
      top: 0;left: 0;
  
      opacity: 0.5;
      transform: translateX(150%);
      transition: opacity 0ms, transform 300ms;
    }
    