@import '../../styles/variables.scss';

.layoutWrapp {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    // overflow: hidden;
    
   
    .contentWrapp {

        overflow: scroll;
        overflow-x:hidden;
        flex: 1 1 auto;
        &::-webkit-scrollbar{
            width: 5px;
        }
        &::-webkit-scrollbar-track {
            background: $bones1;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $brown;
        }
    }

}