@import '../../styles/variables.scss';

.layoutWrapp {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.content {
    position: relative;
    flex: 1 1 auto;
    align-self: stretch;
}
