@import '../../../styles/variables.scss';

.carousel {
  position: absolute;

  
  height: 70vh;
  width: 100%;
  // margin: 0 auto;
  // transition: 0.5s;

  &:hover {
    // transform: scale(1.05);
    span {
     
        opacity: 1;
      transform: scale(1);
      pointer-events: all;
      
    }
  }

  span {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.171);
    position: absolute;
    padding: 30px;
    top: 50%;
    z-index: 10;
    opacity: 0;
    transform: scale(0.1);
    pointer-events: none;
    border-radius: 50%;
    transition: 0.5s;

    &:hover {
      transform: scale(1.2);
    }
  }

  .buttonNext {
    right: 50px;
  }
  .buttonPrev {
  left: 50px;
}


  .carouselItem {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    user-select: none;
    pointer-events: none;
    opacity: 0;
    transition: 2s;

  }

  .visible {
    height: 100%;
    width: 100%;
    opacity: 1;
    pointer-events: all;

    h1{
      transform: translateY(50px);
      opacity: 1;
      transition: 2s;
    }
  }

}