@import '../../../styles/variables.scss';

.carousel {
  position: relative;
  height: 30rem;
  width: 100%;
  margin: 100px 0;
  // transition: 0.5s;

  &:hover {
    // transform: scale(1.05);
    span {
     
        opacity: 1;
      transform: scale(1);
      pointer-events: all;
      
    }
  }

  span {
    cursor: pointer;
    background-color: $bones2;
    position: absolute;
    top: 50%;
    z-index: 10;
    opacity: 0;
    transform: scale(0.1);
    pointer-events: none;
    transition: 0.5s;
  }

  .buttonNext {
    right: 0;
  }
  .buttonPrev {
  
}


  .carouselItem {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    user-select: none;
    pointer-events: none;
    opacity: 0;
    transition: 2s;

  }

  .visible {
    height: 100%;
    width: 100%;
    opacity: 1;
    pointer-events: all;

    h1{
      transform: translateY(50px);
      opacity: 1;
      transition: 2s;
    }
  }

}