@import '../../../../styles/variables.scss';

.formInner {
    padding: 40px;

    input,
    textarea {
        display: block;
        width: 100%;
        padding: 0 20px;
        margin-top: 10px;
        background: #E9EFF6;
        line-height: 40px;
        border-width: 0;
        border-radius: 20px;
        font-family: 'Roboto', sans-serif;
        outline: none;
        // outline: 1px solid #536d83;
    }

    input[type="submit"] {
        cursor: pointer;
        margin-top: 10px;
        background: $bones1;
        color: white;
        font-size: 18px;
        color: #707981;
        transition: 0.3s;
        &:hover {
            background: $bones2;
        }
    }

    .phoneBtn {
        display: block;
        width: 100%;
        padding: 9px;
        background: $bones1;
        color: white;
        text-align: center;
        font-size: 18px;
        border-radius: 20px;
        color: #707981;
        transition: 0.3s;
        &:hover {
            background: $bones2;
        }
    }

    textarea {
        resize: none;
    }

    h3 {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        font-size: 24px;
        color: #707981;
    }
}