@import '../../../../../styles/variables.scss';

.slideWrap {
   // width: 100%;
   min-height: 100%;
   background-color: $bones1;
   display: flex;
   justify-content: center;
   align-items: center;

}