@import '../../../../../styles/variables.scss';

.slideWrap {
   // width: 100%;
   min-height: 100%;
   background-color: $bones1;
   display: flex;
   justify-content: center;
   align-items: center;
   h1 {
      opacity: 0;
      transform: translateY(-150px);
      transition: 2s;
   }
}