@import '../../../styles/variables';

.footerWrap {
    z-index: 9;
    position: relative;
    width: 100%;
    background-color: $bones2;

    .footerBar {
        position: absolute;
        top: 0;left: 0;
        width: 100%;
        min-height: 100vh;
        background-color: $logo;
    }
}