@import '../../../styles/variables';

.footerWrap {
    z-index: 10;
    position: relative;
    width: 100%;
    background-color: $bones2;

    .footerBar {
        position: absolute;
        top: 0;left: 0;
        width: 100%;
        height: 1000px;
        background-color: $brown;
    }
}